{extend name="$LAYOUT_HOME_USER_BASE" /}
{block name="title"}拍卖活动 - 买家中心{/block}
{block name="shop_apply"}
  {if condition="session('WST_USER.userType') eq 0"}
    {include file="$LAYOUT_HOME_SHOP_APPLY" /}
  {/if}
{/block}
{block name="top"}
  {include file="$LAYOUT_HOME_TOP" /}
{/block}
{block name="content"}
<style>#list td{text-align: center;}</style>
<div class="wst-user-head"><span>我的保证金</span></div>
<div class="wst-user-content">  
   <table class='wst-order-list'>
   <thead>
        <tr class='head'>
        <th>商品名称</th>
        <th>当前拍卖价</th>
        <th>拍卖状态</th>
        <th>我的保证金</th>
        <th>保证金状态</th>
   </tr>
   </thead>
   <tbody id='list'></tbody>
   <tfoot>
     <tr align="center"><td colspan='10' id='pager'></td></tr>
   </tfoot>
   <script id="tblist" type="text/html">
   {{# for(var i = 0; i < d.length; i++){ }}
   <tr>
      <td>
          <div class="goods-img">
          <a href='{{WST.AU("auction://goods/detail","id="+d[i]["auctionId"])}}' target='_blank'>
            <img class='j-lazyGoodsImg'  data-original='__ROOT__/{{d[i].goodsImg}}'/>
          </a>
        </div>
        <p class="goodsName">
          {{WST.cutStr(d[i]['goodsName'],43)}}
        </p>
      </td>
      <td>￥{{d[i]['currPrice']}}</td>
      <td>
        {{#if(d[i]['status']==1){}}
        进行中
        {{#}else{}}
        已结束   
        {{#}}}
      </td>
      <td>￥{{d[i]['cautionMoney']}}</td>
      <td>
         {{#if(d[i]['cautionStatus']==2){}}
         <span class='lbel lbel-success'>已退</span>
         {{# }else if(d[i]['cautionStatus']==-1){}}
         <span class='lbel lbel-danger'>没收</span>
         {{#}else{}}
         <span class='lbel lbel-gray'>未退</span>
         {{#}}}
      </td>
   </tr>
   {{# } }}
   </script>
  </table>
  <div id='pager'></div>
</div>
{/block}  
{block name="footer"}
  {include file="$LAYOUT_HOME_FOOTER" /}
{/block}
{block name="js"}
<script type="text/javascript" src="__ROOT__/addons/auction/view/home/users/js/users.js?v={$v}"></script>
<script type="text/javascript">
$(function(){
  queryMoneyByPage(0);
});
</script>
{/block}