{extend name="$LAYOUT_WECHAT_BASE" /}
{block name="title"}商品列表 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__WECHAT__/css/swiper.min.css">
<link rel="stylesheet"  href="__ROOT__/addons/coupon/view/wechat/index/goods_list.css?v={$v}">
{/block}
{block name="header"}
	<header class="ui-header ui-header-positive wst-se-header2" style="border-bottom: 1px solid #f6f6f8;">
        <a href="javascript:void(0);" onclick="history.back()"><i class="ui-icon-return"></i></a>
        <div class="wst-se-search">
        	<i class="ui-icon-search" onclick="javascript:couponSearch();"></i>
            <span class="input-form">
            <input type="search"  placeholder="请输入商品名称" onsearch="javascript:couponSearch();" autocomplete="off" id="keyword">
            </span>
        </div>
    </header>
{/block}
{block name="footer"}
    
{/block}
{block name="main"}
     <input type="hidden" name="" value="{$couponId}" id="couponId" autocomplete="off">
     <input type="hidden" name="" value="" id="condition" autocomplete="off">
	 <input type="hidden" name="" value="" id="desc" autocomplete="off">
	 <input type="hidden" name="" value="" id="currPage" autocomplete="off">
     <input type="hidden" name="" value="" id="totalPage" autocomplete="off">
     <section class="ui-container">
        <div class="wst-shl-ads">
     		<div class="title">热卖推荐</div>
		   <div class="wst-gol-adsb">
			<div class="swiper-container">
	          <div class="swiper-wrapper">
	          	{wst:goods type='recom' cat='0' num='8'}
	                <div class="swiper-slide" style="width:33.333333%;">
	                     <div class="wst-gol-img j-imgRec">
		                     <a href="javascript:void(0);" onclick="javascript:WST.intoGoods({$vo['goodsId']});">
		                     <img src="__ROOT__/{:WSTConf('CONF.goodsLogo')}" data-echo="__ROOT__/{:WSTImg($vo['goodsImg'],3)}" title="{$vo['goodsName']}">
		                     </a>
	                     </div>
	                     <p>¥{$vo['shopPrice']}</p>
	                </div>
	             {/wst:goods}
	          </div>
	        </div>
	        </div>
     	</div>
     	<div class="ui-row-flex wst-shl-head">
		    <div class="ui-col ui-col sorts active" status="down" onclick="javascript:orderCondition(this,0);">
		   		 <p class="pd0">销量</p><i class="down2"></i>
		    </div>
		    <div class="ui-col ui-col sorts" status="down" onclick="javascript:orderCondition(this,1);">
		   		 <p class="pd0">价格</p><i class="down"></i>
		    </div>
		    <div class="ui-col ui-col sorts" status="down" onclick="javascript:orderCondition(this,2);">
		   		 <p class="pd0">人气</p><i class="down"></i>
		    </div>
		    <div class="ui-col ui-col sorts" status="down" onclick="javascript:orderCondition(this,3);">
		   		 <p>上架时间</p><i class="down"></i>
		    </div>
		</div>
		<ul class="ui-tab-content">
	        <li id="goods-list"></li>
	    </ul>
     </section>
<script id="list" type="text/html">
{{# if(d && d.length>0){ }}
{{# for(var i=0; i<d.length; i++){ }}
<div class="wst-in-goods {{# if((i)%2==0){ }}left{{# }else{ }}right{{# } }}" onclick="javascript:WST.intoGoods({{ d[i].goodsId }});">
<div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods({{ d[i].goodsId }});"><img src="__ROOT__/{:WSTConf('CONF.goodsLogo')}" data-echo="__ROOT__/{{ d[i].goodsImg }}" title="{{ d[i].goodsName }}"/></a></div>
<div class="name ui-nowrap-multi">{{ d[i].goodsName }}</div>
<div class="tags ui-nowrap-multi">&nbsp;
{{# if(d[i].isSelf==1){ }}<span class='tag'>自营</span>{{# } }}
{{# if(d[i].isFreeShipping==1){ }}<span class='tag'>包邮</span>{{# } }}
{{ d[i]['tags']!=undefined?d[i]['tags']:'' }}
</div>
<div class="info"><span class="price">¥{{ d[i].shopPrice }}</span><span class="deal">成交数:{{ d[i].saleNum }}</span></div>
</div>
{{# } }}
<div class="wst-clear"></div>
{{# }else{ }}
<div class="wst-prompt-icon"><img src="__WECHAT__/img/nothing-goods.png"></div>
<div class="wst-prompt-info">
	<p>对不起，没有相关商品。</p>
</div>
{{# } }}
</script>
{/block}
{block name="js"}
<script type='text/javascript' src='__WECHAT__/js/swiper.jquery.min.js'></script>
<script type='text/javascript' src='__ROOT__/addons/coupon/view/wechat/index/goods_list.js?v={$v}'></script>
{/block}