{extend name="$LAYOUT_MOBILE_BASE" /}
{block name="title"}拍卖支付 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__ROOT__/addons/auction/view/mobile/index/css/carts.css?v={$v}">
{/block}
{block name="header"}
    <header style="background:#ffffff;" class="ui-header ui-header-positive ui-border-b wst-header">
        <a class="ui-icon-return" onclick="history.back()"></a><h1>拍卖支付</h1>
    </header>
{/block}
{block name="main"}
   	{/* 大加载 */}
	<div class="ui-loading-block" id="Loadl">
	    <div class="ui-loading-cnt">
	        <i class="ui-loading-bright"></i>
	        <p id="j-Loadl">正在加载中...</p>
	    </div>
	</div>
	<section class="ui-container">
	{if(empty($message))}
	  	<div class="order-item">
	    	<div class="ui-row-flex ui-whitespace border-b">
	      		<div class="ui-col">
	            	<img src="__ROOT__/{:WSTConf('CONF.goodsLogo')}" data-echo="__ROOT__/{:WSTImg($object['goodsImg'],3)}" title="{$object['goodsName']}" class="o-Img">
	       		</div>
	         	<div class="ui-col ui-col-3 o-gInfo">
	         		<p class="o-gName ui-nowrap-multi ui-whitespace">{$object['goodsName']}</p>
	       		</div>
	       		<div class="ui-col order-tr" style="word-break:break-all;"></br>×1</div>
	 		</div>
	      	<div class="ui-btn-wrap" style="text-align: right;">	
	        	<span class="wst-orders_pricet">{if($payObj=='bao')}保证金{else}拍卖成交金{/if}：<span class="wst-orders_prices">¥<?php echo sprintf("%.2f", $object['cautionMoney']);?></span></span>     	
	      	</div>
	      	<div class="wst-clear"></div>
		</div>
	 
		<div style="text-align: center;">
			<button type="button" class="wst-btn-dangerlo" onclick="javascript:callpay();" style="width: 80%;  display: inline-block;">确认支付</button>
		</div>
	{else}
		<ul class="ui-row-flex wst-flexslp">
			<li class="ui-col ui-flex ui-flex-pack-center">
			<p>{$message}</p>
			</li>
		</ul>
	{/if}
	</section>
	<div class="ui-dialog" id="wst-di-wxpay">
		<div class="ui-dialog-cnt">
			<header class="ui-dialog-hd ui-border-b">
			  <h3>请确认微信支付已完成</h3>
			  <i class="ui-dialog-close" data-role="button"></i>
			</header>
			<div class="ui-dialog-hd ui-border-b">
				<a href="{$returnUrl}"><div style="color:red;">已完成支付</div></a>
			</div>
			<div class="ui-dialog-hd ui-border-b">
				<a href=""><div >支付遇到问题，重新支付</div></a>
			</div>
		</div>
	</div>
{/block}
{block name="footer"}{/block}
{block name="js"}
<script type='text/javascript' src='__ROOT__/addons/auction/view/mobile/index/js/carts.js?v={$v}'></script>
{if(empty($message))}
<script type="text/javascript">
    function callpay(){
		$("#wst-di-wxpay").dialog("show");
		location.href = "{$mweb_url}";
	}
	</script>
{/if}
{/block}