.coupon-head{width:1200px;margin-left: auto;margin-right: auto;margin-top:10px;color:#999;}
.coupon-head div.item{float:left;margin-right:6px;position:relative;}
.coupon-head .arrow{float:left;position: relative;top:5px;padding-right:12px;font-style: normal;}
.coupon-head .item .link{color:#666;float:left;border:0px;margin-right:5px;height:22px;line-height: 22px;}
.coupon-selector{border-bottom:2px solid #F03232;padding-top:20px;padding-bottom:10px;width:1200px;margin-left: auto;margin-right: auto;margin-top:10px;}
.selector-head{width:100px;float:left;text-align: right;}
.selector-item{width:1100px;float:left;}
.selector-item li{float:left;margin-right:10px;margin-bottom:10px;width:140px;}
.selector-item .curr{background:#DF2003;border-radius: 0.25em;color: #fff;padding:5px;}
/**领券中心**/
.coupon{width: 385px;height: 180px;float: left;border: 1px solid #f1f1f1;margin: 10px 8px;overflow: hidden;border: 2px solid #e55050;}
.coupon_out{border-color:#ccc;}
.coupon:hover{-webkit-box-shadow:0 0 5px rgba(0,0,0,.1);-moz-box-shadow:0 0 5px rgba(0,0,0,.1);box-shadow:0 0 5px rgba(0,0,0,.1)}
.coupon .coupon-left{width:275px;height:180px;float:left;padding-left:25px;padding-top:20px;}
.coupon .left-out{color:#333}
.coupon .top{width:385px;overflow:hidden;}
.coupon .coupon-price{float:left;}
.coupon .shop-img{float:left;margin-right:5px;}
.coupon-left strong{line-height: 50px;font-size: 60px;}
.coupon-left .use-condition{height:30px;line-height: 30px;}
.coupon .coupon-middle{width:2.99px;background:url('img\semi-circle.png');height:180px;float:left;}
.coupon .coupon-right{background:#e55050;height:180px;float:right;}
.coupon .coupon-right a{display:block;border:1px dashed #fff;line-height: 30px;color:#fff;font-size: 30px;padding: 17px 15px;margin: 13px 10px;}
.coupon .right-out{background:#ccc}
.coupon .right-out a{color:#fff}
.coupon .receive{background-image: url(img/received.png);background-repeat: no-repeat;width:71px;height:59px;position:relative;top:-80px; left:188px;}
.coupon .coupon_none{background-image: url(img/none.png);background-repeat: no-repeat;width:71px;height:59px;position:relative;top:-80px; left:188px;}

/**商品详情**/
#couponProp{
	margin-top: 10px;
	position: relative;
}
#couponPropBox{
	height: 75px;
	overflow: hidden;
}
#couponPropMoreBox{
	position: absolute;
	background-color: #fff;
	width: 87%;
	top: 0;
	margin-top: -1px;
	margin-left: -6px;
	padding-left: 5px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: none;
}
.h_auto{height:200px!important;}
.prop-item{
	margin-bottom: 5px;
}
.j-coupon-show img{
	width: 15px;
	height: 15px;
	margin-left: 2px;
	vertical-align: middle;
	transition: all 0.2s ease;
}
.coupon-show-img{
	transform:rotate(90deg);
}
.j-coupon-show{
	cursor: pointer;
	float: right;
	display: none;
	position: absolute;
	right: 0;
	color: #999;
}
.prop-item .text {height:20px;line-height:20px;padding: 0 10px;color: #999999;font-size: 12px;}
.prop-item a{color: #df2003;}
/**购物车**/
.shop-coupon{float: left;width: 80px;height: 24px;margin-left: 1px;}
.shop-coupon .coupon-btn{display: block;width: 80px;height: 24px;line-height: 99em;background: url(img/cart-coupon-icons02.png) 0 0 no-repeat;overflow: hidden;}
.shop-coupon .promotion{margin-top:-24px;display:none;width:360px;}
.shop-coupon .promotion-tit {position:relative;width: 80px;z-index:10;height: 36px;line-height: 99em;overflow: hidden;border: none;background: url(img/cart-coupon-icons02.png) 0 -34px no-repeat;}
.shop-coupon .promotion-cont{overflow-x:hidden;display:none;position:relative;top:-2px;width: 343px;height: 180px;overflow-y: auto;border: 2px solid #e4393c;background:#ffffff;padding:5px;}
.shop-coupon .promotion-cont .shop-coupon-title{padding-left:5px;height:30px;line-height: 30px;border-bottom: 1px solid #EFEFEF;margin-bottom:10px;}
.cart-coupon{width:340px;}
.cart-coupon .left{font-size:14px;font-weight: 700;margin:0px 5px 5px 5px;float:left;height:27px;line-height:27px;width:60px;border-top:1px solid #df3033;border-bottom:1px solid #df3033;background: #ffdedf}
.cart-coupon .left .border{float:left;position:relative;top: -1px;display: block;height: 28px;width: 2px;overflow: hidden;background: url(img/quan-arr.gif) repeat-y;}
.cart-coupon .left s{left:-1px;}
.cart-coupon .left b{right:-1px;}
.cart-coupon .left .price{float:left;padding-left:5px;width:50px;overflow:hidden;color:#df3033;}
.cart-coupon .middle{float:left;width:210px;}
.cart-coupon .middle .row{line-height: 15px;height:15px;color:#6D6D6D}
.cart-coupon .right{float:left;width:50px;line-height:35px;}
.cart-coupon .right a{font-weight:bold;border:1px solid #ccc;padding:5px 5px;color:#666;}
/**优惠券适用商品**/
.coupon-view{height:135px;}
.coupon-view .promote_vouchers_box{position: relative;float: left;width: 220px;height: 108px;margin-top: 10px;background: url(img/canuse_bg.png) no-repeat;text-align: center;}
.promote_vouchers_box .vouchers_pr {display: inline-block;margin-top: 15px;height: 44px;line-height: 44px;font-size: 36px;font-weight: bold;font-style: italic;font-family: "Century Gothic";color: #ff7070;}
.promote_vouchers_box.vouchers_pr em {font-size: 20px;}
.promote_vouchers_box .vouchers_des p {line-height: 18px;color: #999;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.exlpain_txt {float: left;width: 618px;padding-left: 50px;margin-top:20px;}
.exlpain_txt h3 {color: #333;font-family: 'microsoft yahei';font-style: italic;font-size: 18px;font-weight: normal;line-height: 22px;}
.exlpain_txt ul {margin-top: 10px;}
.exlpain_txt ul li, .search_promote .exlpain_txt p {overflow: hidden;color: #999;font-family: 'simusn';line-height: 22px;white-space: nowrap;text-overflow: ellipsis;}
.coupon-goods-list{width:100%;border-top:2px solid #F03232;padding-top:10px;}
.coupon-goods-list .wst-coupon-goods{float:left;width:218px;padding:5px;background:#ffffff;border: 1px solid #dadada;margin:0px 4px;margin-bottom: 9px;margin-right: 7px;}
.coupon-goods-list .wst-coupon-goods:nth-child(5n){margin-right: 0;}
.wst-coupon-rgoods:hover,.wst-coupon-goods:hover{border:1px solid #e5e5e5;-webkit-box-shadow:0 0 10px #ddd;-moz-box-shadow:0 0 10px #ddd;box-shadow:0 0 10px #ddd;}
.wst-coupon-goods .wst-coupon-goimg{float:left;width:207px;height:207px;vertical-align:middle;display:block;position:relative;}
.wst-coupon-goimg a{width:207px;height:207px;padding-left:5px;padding-top:5px;display:table-cell;vertical-align:middle;}
.wst-coupon-goimg img{max-width:207px;max-height:207px;}
.wst-coupon-goimg span{width:230.5px;height:30px;line-height: 30px;color:#ffffff;text-align:center;opacity: 0.8;background:#d0260c;display: block;position:absolute;left:-6px;bottom:-5px;display: none;}
.wst-coupon-goimg span:hover{background:#e5280b;}
.wst-coupon-gonam{float:left;width:100%;height:36px;color:#838383;font-size: 15px;font-family: "microsoft yahei";margin-top:18px;}
.wst-coupon-gonam a:hover{color:#f60505;}
.wst-coupon-goodp1{margin-top:8px;}
.wst-coupon-goodp1,.wst-coupongoodp2{float:left;width:100%;line-height: 20px;font-family:"microsoft yahei";padding:2px 0px 2px 0px;}
.wst-coupon-goodpr{color: #ea523b;font-size: 16px;font-weight: bold;overflow: hidden;float:left;}
.wst-coupon-goodpr2{color: #ed1a8d;}
.wst-coupon-goodpr3{color: #c4c2c2;width:220px;overflow: hidden;}
.wst-coupon-goodpr4{color: #249ee7;}
