		    <li class="ui-col ui-col-25 user-icon-box ui-center-hor">
		    	<a href="{:url('/addon/bargain-users-wxbargain')}">
		    	<p><i class="bargain-icon"></i></p>
		    	<span class="ui-flex ui-flex-align-end ui-flex-pack-center">我的砍价</span>
		    	</a>
		    </li>
		    <style>
		    	.bargain-icon{
		    		background:url(__ROOT__/addons/bargain/view/wechat/index/img/bargain2.png) 0px 4px no-repeat;
    				background-position: -5px 0px;
    				background-size: 120%;
		    	}
		    </style>