{extend name="$LAYOUT_HOME_SHOP_BASE" /}
{block name="title"}拍卖活动 - 卖家中心{/block}
{block name="top"}
	{include file="$LAYOUT_HOME_TOP" /}
{/block}
{block name="content"}
<link href="__STATIC__/plugins/validator/jquery.validator.css?v={$v}" rel="stylesheet">
<style>
input[type=text]{width:150px;}
</style>
<div class="wst-body"> 
<div class="wst-shop-head"><span>拍卖活动</span></div>
<div class="wst-clear"></div>
   <div class="wst-shop-content">
      <form id='editform' name='editform' autocomplete="off">
        <input type='hidden' id='auctionId' class='ipt' value='{$object["auctionId"]}'/>
        <table class="wst-form">
           <tr>
             <td colspan="2">
               <div class='wst-tips-box'>
               <div class='icon'></div>
               <div class='tips'>
               1.拍卖商品只能为实物商品时。<br/>2.若拍卖为多规格商品的话，则取推荐的规格为拍卖商品的规格。<br/>3.拍卖商品需商家支付运费。<br/>4.拍卖商品新增后和原商品不关联</div>
               <div style="clear:both"></div>
               </div>
             </td>
           </tr>
           <tr>
             <th width='120' align='right'>&nbsp;</th>
             <td>
              <select id="shopCatId1" class='j-ipt' onchange="WST.shopsCats('shopCatId2',this.value,'');">
                 <option value="">-请选择-</option>
                 {volist name=":WSTShopCats(0)" id="vo"}
                 <option value="{$vo['catId']}">{$vo['catName']}</option>
                 {/volist}
              </select>
              <select id='shopCatId2' class='j-ipt'>
                 <option value=''>请选择</option>
              </select>
          <br/>
              <input type='text' id='goodsName' placeholder="请输入要搜索的商品名称" />
              <a type="button" class='s-btn' onclick="searchGoods()">查&nbsp;询</a>
             </td>
           </tr>
           {if $object['auctionStatus']==-1}
           <tr class="wst-order-rate" >
               <th width='120'>不通过原因：</th>
             <td colspan='3' style='color:red'>
                 {$object['illegalRemarks']}
             </td>
           </tr>
           {/if}
           <tr>
             <th width='120' align='right'>拍卖商品：</th>
             <td>
              <select id='goodsId' class='ipt' onchange='changeGoods(this)'>
                <option value="{$object['goodsId']}">{$object['goodsName']}</option>
              </select><br/>
             </td>
           </tr>
           <tr>
               <th width='120'>市场价格：</th>
               <td colspan='3' id='marketPrice'>￥{$object["marketPrice"]}</td>
           </tr>
           <tr class="wst-order-rate" >
               <th width='120'>起拍价格：</th>
             <td colspan='3'>
                 <input type='text' id='auctionPrice' name='auctionPrice'class='ipt' maxLength='10' value='{$object["auctionPrice"]}' data-rule='起拍价格:required;'/>
             </td>
           </tr>
           <tr class="wst-order-rate" >
               <th width='120'>加价幅度：</th>
             <td colspan='3'>
                 <input type='text' id='fareInc' name='fareInc' class='ipt' maxLength='8' data-rule='加价幅度:required;integer[+]' value='{$object["fareInc"]}'/>
             </td>
           </tr>
           <tr class="wst-order-rate" >
               <th width='120'>保证金：</th>
             <td colspan='3'>
                 <input type='text' id='cautionMoney' name='cautionMoney' class='ipt' maxLength='8' data-rule='保证金:required;integer[+]' value='{$object["cautionMoney"]}'/>
             </td>
           </tr>
           <tr class="wst-order-rate" >
               <th width='120'>拍卖时间：</th>
             <td colspan='3'>
                 <input type='text' id='startTime' name='startTime' class='ipt laydate-icon' value='{$object["startTime"]}' onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime:true})"  data-rule="开始日期: required;datetime;"/>
                 至
                   <input type='text' id='endTime' name='endTime' class='ipt laydate-icon' value='{$object["endTime"]}' onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss',istime:true})" data-rule="结束日期: required;datetime;match(gt, startTime, datetime)"/>
             </td>
           </tr>
           <tr>
             <th>拍品介绍：</th>
             <td>
               <textarea name='auctionDesc' id='auctionDesc' class='ipt' style='width:100%'>{$object['auctionDesc']}</textarea>
             </td>
           </tr>
           
           <tr>
             <td colspan='2' style='text-align:center;padding:20px;'>
                 <a class='s-btn' onclick="save()">保&nbsp;存</a>&nbsp;&nbsp;
                 <a class='s-btn' onclick='javascript:location.reload();'>重&nbsp;置</a>
             </td>
           </tr>
        </table>
      </form>
   </div>
</div>
{/block}  
{block name="footer"}
	{include file="$LAYOUT_HOME_FOOTER" /}
{/block}
{block name="js"}
<script src="__STATIC__/plugins/layer/laydate.js"></script>
<script type="text/javascript" src="__STATIC__/plugins/validator/jquery.validator.min.js?v={$v}"></script>
<script src="__STATIC__/plugins/kindeditor/kindeditor.js?v={$v}" type="text/javascript" ></script>
<script type="text/javascript" src="__ROOT__/addons/auction/view/home/shops/shop.js?v={$v}"></script>
<script>$(function(){initForm();})</script>
{/block}