@CHARSET "UTF-8";
.ui-header ~ .ui-container{border-top:0;}
.user-info {margin-top: 0.4rem;height: 1.23rem;text-align: center;background-color: #e02e24;background-position: 0 0;background-size: 100% auto;background-repeat: no-repeat;}
.user-info .user-img {width: 0.55rem;height: 0.55rem;border-radius: 50%;margin-top: 0.22rem;border: 1px solid #ef7a73;box-sizing: content-box;}
.user-info .user-name {color: #fff;font-size: 0.15rem;margin-top: 0.05rem;}
.tuan-item{position: relative;margin-bottom: .08rem;background-color: #fff;max-height: 2.26rem;}
.tuan-item .time{font-size:0.13rem;color: #9c9c9c;}
.item-top-block{ position: relative;padding:0.05rem 0.1rem 0 0.1rem;}
.item-top-block .order-status {position: absolute;font-size: 0.17rem;max-width: 1.59rem;overflow-x: hidden;text-overflow: ellipsis;line-height: .17rem;top: 0.18rem;right: 0.1rem;}
.item-top-block .blue {color: #08B1EF;}
.item-top-block .red {color: #e02e24;}
.item-top-block .green {color: green;}
.item-goods {height: 0.78rem; position: relative;padding: 0.07rem 0 0.07rem 0.1rem;background-color: #f5f5f5;overflow: hidden;}
.item-goods .goods-img {height: 0.77rem;width: 0.77rem;float: left;margin-right: 0.12rem;}
.item-goods .goods-name {position: relative;font-size: 0.13rem;margin-right: 0.75rem;max-height: 0.57rem;overflow: hidden;}
.item-goods .goods-name p {color: #151516;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 0.19rem;}
.item-goods .price-and-num { position: absolute;right: 0.11rem;top: 0.1rem;z-index: 1;text-align: right;font-size: 0;}
.item-goods .spec {margin-top: 0.05rem;color: #9c9c9c;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 1.96rem;font-size: 0.12rem;}
.item-goods .price-and-num .goods-price {font-size: 0.14rem;color: #151516;margin-bottom: 0.06rem;}
.item-goods .price-and-num .goods-number {font-size: 0.12rem;color: #9c9c9c;}
.currency-block {text-align: right; padding:0.05rem 0.1rem;}
.button-block{text-align: right;padding:0.05rem 0.1rem;}
.button-block .cancel,.button-block .check {line-height: 0.3rem;font-size: 0.13rem;border: 1px solid #9c9c9c;border-radius: 0.03rem;width: 0.8rem;}
.button-block .go-pay, .button-block .go-friend{line-height: 0.3rem;font-size: 0.13rem;border: 1px solid #e02e24;border-radius: 0.03rem;width: 0.8rem;background-color: #e02e24;color:#fff;}
.ui-tab-nav li.tab-item{font-size:.14rem;height:30px;line-height:30px;min-width:50px;padding:0 5px;text-align:center}
.ui-tab-nav li.tab-curr{height:29px;border-bottom:2px solid red}
.ui-tab-nav li{color:#fff;}
.ui-tab-nav{height:auto;padding: 0px 10px 0 10;background-color: #000;color: #fff;}