@CHARSET "UTF-8";
.ui-list-link>li:after{color:#848484}
.wst-se-address{margin:10px 0}
.wst-se-address .infot{color:#59595c;font-size:.165rem;height:22px;line-height:22px}
.wst-se-address .infob{font-size:.158rem;position:relative;text-indent:1em;height:23px;line-height:23px}
.wst-se-address .infob i{position:absolute;left:-23px;top:-12px;color:#df0001}
.wst-se-address .infono{color:#f8a106;height:36px;line-height:36px}
.wst-se-sh{padding:0 10px 6px 10px;margin:5px 0;font-size:.158rem;background:#fff}
.wst-se-sh .shopn{padding:6px 0 2px 0}.wst-se-sh .goods .img{float:left;width:100%;height:70px;text-align:center;vertical-align:middle;display:block}
.wst-se-sh .goods{padding:5px 0;border-bottom:1px solid #f1f1f1}.wst-se-sh .goods .img a{width:100%;height:70px;display:table-cell;vertical-align:middle}
.wst-se-sh .goods .img a img{max-width:70px;max-height:70px}.wst-se-sh .name{padding:0 5px}
.wst-se-sh .names{font-size:.16rem}.wst-se-sh .spec{color:#a6a6a6}
.wst-se-sh .price,.wst-se-sh .number{text-align:right}
.wst-se-sh .remarks,.wst-se-sh .cost{padding:10px 0}
.wst-se-sh .cost span{float:right;color:#de0202}
.wst-se-sh .remarks textarea{width:100%;height:30px;padding:5px}
.wst-se-sh .remarks textarea:focus{height:58px;border:1px solid #3bb4f2}
.wst-se-mode .mode{border-bottom:1px solid #f1f1f1}.ui-list li h4{font-size:15px}
.wst-se-mode{font-size:.158rem}.wst-se-total{height:38px;line-height:38px;padding:0 10px;font-weight:bold;font-size:.19rem}
.wst-se-total span{float:right;color:#de0202}
.wst-se-confirm .button{position:absolute;left:3%;bottom:2px;width:93%;margin-bottom:6px;font-size:.185rem;height:38px;line-height:38px;color:#fff;background:#e00102;font-size:.18rem;border-radius:3px;border-bottom:1px solid #e00102}
.wst-se-confirm .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;left:0;bottom:-226px;width:100%;min-height:40%;background-color:#f6f6f8;font-size:.15rem}
.wst-fr-box .title{position:relative;padding:6px 0;background-color:#fff;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:.185rem}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{padding:8px 0 50px 0}
.wst-fr-box .button,.wst-cart-box .button{position:absolute;left:3%;bottom:4px;width:93%;font-size:.185rem;height:40px;line-height:40px;color:#fff;background:#e00102;font-size:.18rem;border-radius:3px;border-bottom:1px solid #e00102}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-list-infose1{width:90%;padding-top:8px;padding-bottom:8px}
.wst-list-infose1 span{float:left;width:100%;font-size:.18rem}
.ui-icon-push{float:right;width:32px;margin-top:-43px;font-size:.32rem}
.wst-se-line{padding:0 10px}
.wst-se-line p{border-bottom:1px solid #ededed}
.wst-fr-invoice{padding:0 10px;background:#fff;font-size:.18rem}
.wst-fr-invoice textarea{width:100%;height:46px;padding:2px}
.wst-fr-invoice textarea:focus{border:1px solid #3bb4f2}
.wst-fr-score{padding-top:10px}
.wst-fr-score span{color:#e00102}