		    <li class="ui-col ui-col-25 user-icon-box ui-center-hor">
		    	<a href="{:url('/addon/auction-users-wxauction')}">
		    	<p><i class="auction-icon"></i></p>
		    	<span class="ui-flex ui-flex-align-end ui-flex-pack-center">我的拍卖</span>
		    	</a>
		    </li>
		    <li class="ui-col ui-col-25 user-icon-box ui-center-hor">
		    	<a href="{:url('/addon/auction-users-wxmoney')}">
		    	<p><i class="auction-icon2"></i></p>
		    	<span class="ui-flex ui-flex-align-end ui-flex-pack-center">我的保证金</span>
		    	</a>
		    </li>
		    <style>
		    	.auction-icon{
		    		background:url(__ROOT__/addons/auction/view/wechat/index/img/auction2.png) 1px 3px no-repeat;
		    	    background-size: 95%;
		    	}
		    	.auction-icon2{
		    		background:url(__ROOT__/addons/auction/view/wechat/index/img/bond.png) 1px 3px no-repeat;
		    	    background-size: 95%;
		    	}
		    </style>