@CHARSET "UTF-8";
.wst-listse{margin-top:8px;font-size:.15rem}
.wst-list-infose1{width:96%;padding-top:10px;padding-bottom:10px;border-bottom:1px solid #ededed}
.wst-list-infose1 span{float:left;width:100%}
.wst-list-infose1 .name{color:#232228}
.wst-list-infose1 .address{color:#808080}
.wst-ad-operate{padding:10px;height:0.22rem;line-height:0.25rem;font-size:.14rem}
.wst-ad-operate .left{float:left;margin-left:22px}
.wst-ad-operate .right{float:right}
.wst-ad-operate i{float:left;width:22px;height:22px}
.j-operate{z-index:100;float:left;width:22px;height:22px;margin:-32px 0 0 9px}
.j-operate.default,.ui-form-itemin .operate .default{background:url(../img/icon_adds_users.png) -11px -5px no-repeat;background-size:645%}
.j-operate.nodefault,.ui-form-itemin .operate .nodefault{background:url(../img/icon_adds_users.png) -41px -5px no-repeat;background-size:645%}
.wst-ad-operate .edit{background:url(../img/icon_adds_users.png) -71px -5px no-repeat;background-size:631%}
.wst-ad-operate .delete{background:url(../img/icon_adds_users.png) -106px -5px no-repeat;background-size:631%}
.wst-ad-form{margin-top:8px}
.ui-form-itemin{position:relative;font-size:16px;height:44px;line-height:44px;padding:1px 10px;font-size:.18rem;background:#fff}
.ui-form-itemin .word{color:#232228;font-size:.15rem}
.ui-form-itemin input{float:right;width:75%;height:35px;border:0;margin-top:4px;font-size:.15rem}
.ui-form-itemin label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio){position:absolute;text-align:left;box-sizing:border-box}
.ui-form-itemin .address{float:right;width:75%;height:35px;line-height:35px;margin-top:4px;font-size:.15rem}
.ui-form-itemin .ui-select-group{margin-top:5px}
.wst-selectin{float:left;position:relative;width:72%}
.wst-address_set{width:100%;height:40px;position:fixed;z-index:100;left:0;bottom:0}
.wst-ad-line{padding:0 10px}
.wst-ad-line p{border-bottom:1px solid #edebeb}
.wst-ad-submit{margin-top:20px}
.wst-ad-submit .button{margin:0 auto;width:93%;font-size:.15rem;height:40px;line-height:40px;color:#fff;background:#e00102;border-bottom:1px solid #e00102}
.wst-ad-submit .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-ad-operate{font-size:.15rem}
.ui-switch input:checked:before{border-color: #ff3c3c;box-shadow: #ff3c3c 0px 0px 0px 16px inset;background-color: #ff3c3c;background-color: #ff3c3c;}
.ui-switch input:before{height: 26px;}
.ui-switch input:checked:after {left: 26px;}
.ui-switch input:after {width: 26px;height: 26px;}
.ui-switch{margin-top: -14px;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;left:0;bottom:-285px;width:100%;min-height:50%;background:#fff;font-size:.15rem}
.wst-fr-box .title,.wst-cart-box .title{position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1;}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:15px;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{padding:10px 10px 20px 10px}
.wst-fr-box .option{float:left;width:100%;border-bottom:1px solid #edebeb}
.wst-fr-box .option p{float:left;width:50px;height:26px;line-height:26px;padding:0 5px;text-align:center}
.wst-fr-box .option .active{border-bottom:1px solid #de0301}
.wst-fr-box .list{padding-top:5px;font-size:0.14rem;}
.wst-fr-box .list.hide{display:none}
.wst-fr-box .list p{padding:5px 0}
.wst-fr-box .list .active{color:#de0301}
.wst-fr-box .list .active{color:#de0301}
.wst-ad-footer{position: fixed;z-index: 100;bottom:0;left: 0;width: 100%;height: 44px;background: #FFF;border-top: 1px solid #e8e8e8;}
.wst-ad-footer .button{display: block;margin: 0 auto;margin-top:2px;width: 90%;font-size: .15rem;height: 40px;line-height: 40px;color: #fff;background: #e00102;border-radius: 5px;border-bottom: 1px solid #e00102;}
.wst-ad-footer .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip: padding-box;}
.js-address2{display:none;}