@CHARSET "UTF-8";
.wst-ca-layout{display:block;overflow:hidden}
.wst-ca-10{float:left;width:10%;box-sizing:border-box}
.wst-ca-90{float:left;width:90%;box-sizing:border-box}
.wst-ca-24{float:left;width:24%;box-sizing:border-box}
.wst-ca-76{float:left;width:75%;box-sizing:border-box}
.wst-ca-50{float:left;width:50%;box-sizing:border-box}
.wst-ca-s{background:#fff;padding:10px 5px;margin-top:10px;font-size:.15rem}
.wst-ca-s .shop{height:26px;line-height:26px;padding-bottom:3px;border-bottom:1px solid #edebeb}
.wst-ca-s .goods{padding:3px 0;border-bottom:1px solid #f1f1f1}
.wst-ca-s .nogoods{border:1px solid #de0301;background:#f8eeee}
.wst-ca-s .nogoods .noprompt{position:absolute;left:0;top:0;color:#fff;font-size:.15rem;background:#e00102}
.wst-ca-s .shopr{height:26px;line-height:26px}
.wst-ca-s .shopr p{float:left;width:86%;}
.wst-ca-s .shopr .shopicon{float:left;width:22px;height:26px;position: relative;background: url(../img/icon_dp.png) 0px 4px no-repeat;background-size: 87%;}
.wst-ca-s .shopl,.wst-ca-s .shopr,.wst-ca-s .goodsl,.wst-ca-se .totall,.wst-ca-s .nogoods{position:relative}
.wst-ca-s .shopl i{position:absolute;left:-2px;top:-9px}
.wst-ca-s .info{padding-left:5px}
.wst-ca-s .goodsl i{position:absolute;left:-2px;top:50%}
.wst-ca-s .goodsr .img{float:left;width:100%;height:70px;text-align:center;vertical-align:middle;display:block}
.wst-ca-s .goodsr .img a{width:100%;height:70px;display:table-cell;vertical-align:middle}
.wst-ca-s .goodsr .img a img{max-width:70px;max-height:70px}
.wst-ca-s .info .name{float:left;width:72%;font-size:.145rem;font-weight: 700;}
.wst-ca-s .info .price{float:right;width:28%;text-align:right;font-size:.13rem}
.wst-ca-s .info .spec{float:left;width:100%;padding:3px 0;color:#a6a6a6}
.wst-buy_l{float:right;width:100%;margin-top:3px;text-align:right}
.wst-buy_l1,.wst-buy_l3{width:30px;height:28px;background:#FFF;border:0;border:1px solid #ddd}
.wst-buy_l1{border-right:1px solid #fff;}
.wst-buy_l3{border-left:1px solid #fff;}
.wst-buy_l1{border-top-left-radius:3px;border-bottom-left-radius:3px}
.wst-buy_l3{border-top-right-radius:3px;border-bottom-right-radius:3px}
.wst-buy_l2{width:38px;height:28px;border:1px solid #ddd;text-align:center;color:#e00102}
.wst-buy_l1:focus,.wst-buy_l3:focus{color:#e00102}
.wst-buy_l2:focus{width:38px;height:28px;border:1px solid #e00102}
.wst-ca-s .bottom{height:23px;line-height:23px;font-size:.158rem;margin-top:8px}
.wst-ca-s .bottom .price{color:#de0202;text-align:right;}
.wst-ca-s .bottom .price span{font-size:0.13rem;}
.wst-ca-se{padding:0 5px;font-size:.165rem;height:42px;line-height:42px}
.wst-ca-se .totall i{position:absolute;left:-2px;top:-2px}
.wst-ca-se .totalr span{color:#051b28;}
.wst-ca-se .total{float:right;margin-right:6px}
.wst-ca-se .total .price{color:#de0202;}
.wst-ca-se .totalr .price span{color:#de0202;font-size:.13rem;}
.wst-ca-se .totalr .button{float:right;width:31%;height:33px;color:#fff;margin-top:4px;font-size:.18rem;background:#e00102;font-size:.165rem;border-radius:3px;border-bottom:1px solid #e00102}
.wst-ca-se .totalr .button:not(.disabled):not(:disabled):active,.wst-ca-se .totalr .button.active{color:#fbd6d6;background:#f25a5b;background-clip:padding-box}
.wst-header .edit{right: 33px;}
.wst-ca-layer{position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-Index: 9999;display: none;}
.wst-ca-more{ position: absolute;top: 0;right: 8px;color: #59595c;min-width: 30px;height: 41px;line-height: 41px;font-size: 20px;font-weight: 700;text-align: right;}
.wst-go-more{position: fixed;top: 29px;right: 1px;z-Index: 10000;width: 32%;}
.wst-go-more .arrow{position: absolute;top:-6px;right:7px;display: block;width: 0;height: 0;line-height: 0;border-width: 0.11rem;border-color: transparent transparent rgba(85,85,85,0.95) transparent;border-style: dashed dashed solid dashed;}
.wst-go-more .more{margin-top:13px;border-radius: 3px;background: rgba(85,85,85,0.95);}
.wst-go-more .more .column{width: 80px;display: block;margin: 0 auto;height: 23px;line-height: 23px;padding:10px 0px;}
.wst-go-more .more .line{border-bottom: 1px solid #f2f2f2;}
.wst-go-more .more i{float: left;width: 23px;height: 23px;margin-left:2px;position: relative;}
.wst-go-more .home{background: url(../img/icon_bottomnav.png) 0px -24px no-repeat;background-size: 1062%;}
.wst-go-more .category{background: url(../img/icon_bottomnav.png) -53px -23px no-repeat;background-size: 1010%;}
.wst-go-more .follow{background: url(../img/icon_bottomnav.png) -161px -23px no-repeat;background-size: 1010%;}
.wst-go-more .user{background: url(../img/icon_bottomnav.png)-216px -23px no-repeat;background-size: 1010%;}
.wst-go-more .more p{float: left;width: 55px;color: #fff;font-size:0.13rem;}
.wst-go-more .more li:active{padding-left:2px;background: #252525;}