@CHARSET "UTF-8";
body{font-size: 0.15rem;}
.score-line{border-bottom:1px solid #eaeaea;margin-bottom: 5px;margin-top: 5px;}
.score-time{color:#8c8c8c;font-size: 0.13rem;}
.score-detail{background: #fff;padding:5px;}
.score-detail-title{padding: 5px;padding-left:0px;font-size: 0.18rem;}
.score-text{padding:15px 0;text-align: right;color:#de0202;}