@CHARSET "UTF-8";
body{font-size:.13rem}
.c-tr{text-align:right}
.complain-box{margin-top:5px;padding:5px;background:#fff}
.c-line{border-bottom:1px solid #eaeaea;margin-bottom:5px}
.c-item li{padding:10px 0;font-size:.15rem}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-999px;bottom:0;width:100%;min-height:40%;background-color:#f6f6f8;font-size:.15rem}
.wst-fr-box .title,.wst-cart-box .title{background:#fff;height:auto;position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:14px}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{overflow-y:scroll}
.com-detail-box{margin:10px 0;background:#fff}
.com-detail-box li{padding:5px}
.com-detail-big-title{margin-left:6px;font-weight:bold}
.com-detail-title{text-align:right}
.annex{width:60px;height:60px}
.wst-co-status{color: #fa281b;}