@CHARSET "UTF-8";
.wst-shop{padding-top:5px}
.wst-shop-home-bg{margin:0 auto;width:100%;height:190px;background:url(../img/default_shopbanner.jpg) center top no-repeat;background-size:cover}
.wst-shop-photo{width:50px;height:50px;margin:0 auto;padding-top:20px;padding-bottom:10px;}
.wst-shop-photo img{width:100%;height:100%;border-radius:50%}
.wst-shop-name{font-size:0.19rem}
.wst-shop-name{width:100%;height:30px;text-align:center;color:#fff}
.shop-home-btn-box{width:70%;margin:10px auto;height:30px}
.shop-home-btn img{position:absolute;width:16px;height:15px;margin-top:4px;left:8px}
.shop-home-btn{position:relative;background:transparent;height:25px;line-height:25px;color:#fff;border:1px solid #fff;padding:0!important;font-size:.13rem;width:25px;padding-left:8px!important}
.shop-home-btn:before{border: none;}
.shop-home-btn:not(.disabled):not(:disabled):active{background:transparent;color:fff;}
.f-btn,.f-btn:not(.disabled):not(:disabled):active{background:#fff;color:#e8121e}
.f-btn:before{border: none;}
.score-box{margin:0 auto;width:100%;height:35px;margin-top:10px}
.score-item{color:#fff;padding-top:5px;text-align:center;font-size:.13rem;}
.wst-shop-home-info{margin-top:10px;font-size:.14rem;width:100%;height:300px}
.wst-shop-home-view{margin-top:8px;width:100%;height:80px;position:fixed}
.shop-info li{padding:0.08rem 0.1rem;border-bottom:1px solid #e7e7e7}
.shop-qrcode{margin-top:30px;padding-bottom:30px;text-align:center}