@CHARSET "UTF-8";
body{font-size:.15rem}
.news-time{margin-top:10px;text-align:right;font-size:.13rem;padding-right: 10px;}
.news-content-box{background:#fff;padding: 10px 0 35px 0;}
.news-content{max-height:100px}
.news-title{font-weight:bold;padding: 10px;font-size: 20px;padding-bottom: 0px;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-999px;bottom:0;width:100%;min-height:40%;background:#f6f6f8;font-size:.15rem}
.wst-fr-box .title,.wst-cart-box .title{position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:16px}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{overflow-y:scroll;background:#fff}
.wst-fr-box .button,.wst-cart-box .button{position:absolute;left:3%;bottom:0;width:93%;font-size:.185rem;height:40px;line-height:40px;color:#fff;background:#e00102;border-bottom:1px solid #e00102}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.title{background:#fff}
.view-content{background:#fff}
.news-time{margin:5px 0;padding: 0.05rem 0.1rem;background:#ffffff;}
.wst-info{padding:0.04rem;font-weight: bold;font-size:0.18rem;color: #051B28;padding-left: 0.06rem;height:55px;}
.wst-max-info{padding:0.04rem;padding-top: 0rem; font-weight: bold;font-size: 0.140rem;color: #051B28;padding-left: 0.06rem;}
.wst-mix-info{padding-left: 0.06rem;padding-right: 0.06rem;color: #999;font-size: 10px;}
.max-remind{height: 16px;}
.max-img{position: relative;padding-top: 40%; background-size: 30%;overflow: hidden;margin-bottom: 8px;}
.max-img a img{position: absolute;width: 100%;top: 50%;left: 50%;    transform: translate(-50%, -50%);}
.wst-model{background-color: #fff;padding: 0.01rem;margin-top: 10px;}
.wst-right-align{text-align: right;}
.wst-mix-cont{font-size: 0.12rem;color: #999;padding-top: 10px;}
.view-content img{width: 100%;}
.wst-like{padding-bottom: 50px;position: relative;}
.icon-like1{background: url(../img/icon_like1.png) 5px no-repeat;background-size: 20px 20px;border-radius: 10px; position: absolute;top: 0;left: 0;width: auto;height: 30px;margin-left: 40%;margin-bottom: 20px; border: 1px solid red;}
.icon-like2{background: url(../img/icon_like2.png) 5px no-repeat;background-size: 20px 20px;border-radius: 10px; position: absolute;top: 0;left: 0;width: auto;height: 30px;margin-left: 40%;margin-bottom: 20px; border: 1px solid red;}
.like_num{display: inline-block;padding: 5px;padding-left: 32px;padding-top: 6px; color: #ED0000;}
.wst-bor-mix-img{padding: 0.01rem;padding-bottom: 0;}
.wst-headero ~ .ui-container{border-top:72px solid transparent}
.ui-tab{position:fixed;width:100%;z-index:100;left:0;top:41px}
.order-tab{width:100%;height:35px;line-height:35px;padding:0;background:#fff;overflow-x:scroll}
.order-tab::-webkit-scrollbar{width:1px;height:1px;background-color:#fff}
.order-tab::-webkit-scrollbar-thumb{background-color:#fff}
.wst-headero ~ .ui-container{border-top:72px solid transparent}
.item-head{font-size: .15rem;padding:10px 0;border-bottom:1px solid #f2f1f1}
.item-head p{padding-left:20px;position: relative;}
.item-head .shopicon{position: absolute;display: block;top: 2px;left: 0;width: 19px;height: 19px;background: url(../img/icon_dp.png) 0px 1px no-repeat;background-size: 87%;}
.ui-tab-nav li.tab-item{font-size:.15rem;height:35px;line-height:35px;padding:0 5px;text-align:center;}
.ui-tab-nav li.tab-curr{color:#de4943;;height:34px;border-bottom:2px solid #de4943;}
.ui-header ~ .ui-container{border-top: 25px solid transparent;}