@CHARSET "UTF-8";
.wst-in-header{height: 33px;background: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));background: linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));-webkit-transition: background-color .2s linear;-moz-transition: background-color .2s linear;-o-transition: background-color .2s linear;transition: background-color .2s linear;-webkit-transform: translateZ(0);transform: translateZ(0);border-bottom: 0px;}
.wst-in-header.active{height: 39px;background: #e50e0f;opacity: 0.87;}
.wst-in-search{position: fixed;z-index: 100;top:0;left:0;width: 100%;height: 28px;line-height:28px;padding: 0px;}
.wst-in-search .ui-icon-search{position: absolute;top: -2px;left: -2px;color: #fff;font-size: 0.35rem;width: 28px;height: 28px;z-index: 100;}
.wst-in-search .searchs{display: block;width: 73.5%;margin: 0 auto;position: relative;}
.wst-in-search .searchs input{margin-top:6px;padding: 0 0 0 25px;width: 100%;box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border-radius: 15px;background: rgba(255,255,255,0.5);color:#fff;font-size: 0.14rem;height: 28px;line-height: 28px;letter-spacing: 1px;border: none;}
.wst-in-search .searchs input::-webkit-input-placeholder {color:#fff;}
.wst-in-search .searchs input:-moz-placeholder {color:#fff;}
.wst-in-search .searchs input::-moz-placeholder {color:#fff;}
.wst-in-search .searchs inputt:-ms-input-placeholder {color:#fff;}
.wst-in-search .searchs.active input{background:#fff;color:#666;}
.wst-in-search .searchs.active input::-webkit-input-placeholder {color:#666;}
.wst-in-search .searchs.active input:-moz-placeholder {color:#666;}
.wst-in-search .searchs.active input::-moz-placeholder {color:#666;}
.wst-in-search .searchs.active inputt:-ms-input-placeholder {color:#666;}
.wst-in-search .searchs.active .ui-icon-search{color:#333;}
.wst-in-search .classify{position: absolute;top:0;left:0;width:13.25%;text-align:center;}
.wst-in-search .classify i{display: block;margin: 0 auto;width:33px;height:33px;background: url(../img/classify.png) center center no-repeat;background-size: 60%;position: relative;top:3px;}
.wst-in-search .user{position: absolute;top:0;right:0;width:13.25%;height:40px;line-height: 40px;text-align:center;}
.wst-in-search .user a{color:#fff;font-size: 0.13rem;}
.wst-in-search .user i{display: block;margin: 0 auto;width:33px;height:33px;background: url(../img/message-icon.png) center center no-repeat;background-size: 60%;position: relative;top:3px;}
.wst-in-search .user i .number{position: absolute;top: 1px;right: -1px;min-width: 10px;display: inline-block;text-align: center;background: #f74c31;color: #fff;font-size: 0.1rem;height: 15px;line-height: 15px;-webkit-border-radius: 8px;padding: 0 3px;background-clip: padding-box;}
.wst-in-adso .adso img,.wst-in-adsb img,.wst-in-adscats img,.wst-in-activity .img img{width:100%;height:100%;display:block}
.wst-in-choose{padding:5px 0 12px 0;background:#fff}
.wst-in-choose p{width: 57.14285714%;display:block;margin:0 auto;padding-bottom:0.05rem;text-align:center;vertical-align:middle;position:relative}
.wst-in-choose p img{width: 100%;}
.wst-in-choose span{font-size:0.13rem;display:block;text-align:center;color:#666;}
.wst-in-activity{background:#fff;padding:5px 0px 10px 0px;}
.wst-in-activity .img{height:1.15rem;}
.wst-in-news{position:relative;display: block;width: 95%;margin: 0 auto;margin-top:0.05rem;font-size:0.14rem;height:30px;line-height:30px;background:#fff;border:1px solid #eee;border-radius: 25px;}
.wst-in-news .article{float:left;width: 60%;height:22px;margin-top:4px;}
.wst-in-news .article p{height:22px;line-height:22px;border-right:1px solid #eee;}
.wst-in-news .new{float:left;width: 24%;text-align:left;margin-left: 3px; font: bold 13px/31px verdana;background: url(../img/icon_news1.png) 30px no-repeat;background-size: 50% 70%;}
.wst-in-news .new p{color: white;display: inline-block;}
.wst-in-news a{color: #df0202;}
.wst-in-news .more{float:right;width: 15%;height:30px;text-align:center;}
.wst-in-news .more:active{background:#f2f1f1}input[type="search"]::-webkit-search-cancel-button{display:none;-webkit-appearance:none}
.wst-in-adst{padding:0.1rem 0px;background:#fff}
.wst-in-adst img{float:left;width:50%;border-bottom:0.01rem solid #f2f1f1;}
.wst-in-adsb{height:1.05rem;background:#fff}
.wst-in-title{height:0.3rem;padding:0.05rem 0;text-align:center;color:#addd2d;background:#fff;border-bottom: 0.01rem solid #f2f1f1;position: relative;}
.wst-in-title .line{display: block;margin: 0 auto;margin-top:0.14rem;width:66%;height:0.02rem;background:#addd2d;}
.wst-in-title .name{position: absolute;left:0;top:0;width:100%;height:0.4rem;}
.wst-in-title .name p{display: block;margin: 0 auto;width:50%;height:0.4rem;font: bold 0.158rem/0.43rem verdana;background:#fff;}
.wst-in-title .name p span{position: relative;padding-left:0.2rem;}
.wst-in-title .icon{position: absolute;top:-0.02rem;left:0;display: block;width:0.2rem;height:0.2rem;background: url(../img/index-icon.png) 0px 0px no-repeat;background-size: 100%;}
.colour0{color:#addd2d}
.colour0 .line{background:#addd2d}
.colour0 .icon{background-position:0px 0px}
.colour1{color:#59a4f0}
.colour1 .line{background:#59a4f0}
.colour1 .icon{background-position:0px -0.41rem}
.colour2{color:#d71c1c}
.colour2 .line{background:#d71c1c}
.colour2 .icon{background-position:0px -0.81rem}
.colour3{color:#f28748}
.colour3 .line{background:#f28748}
.colour3 .icon{background-position:0px -1.20rem}
.colour4{color:#f28bd4}
.colour4 .line{background:#f28bd4}
.colour4 .icon{background-position:0px -1.60rem}
.colour5{color:#a24220}
.colour5 .line{background:#a24220}
.colour5 .icon{background-position:0px -2rem}
.colour6{color:#4289db}
.colour6 .line{background:#4289db}
.colour6 .icon{background-position:0px -2.37rem}
.colour7{color:#f04f00}
.colour7 .line{background:#f04f00}
.colour7 .icon{background-position:0px -2.80rem}
.colour8{color:#009d4e}
.colour8 .line{background:#009d4e}
.colour8 .icon{background-position:0px -3.18rem}
.colour9{color:#f6dd06}
.colour9 .line{background:#f6dd06}
.colour9 .icon{background-position:0px -3.57rem}
.colour10{color:#b79467}
.colour10 .line{background:#b79467}
.colour10 .icon{background-position:0px -4.01rem}
.colour11{color:#ad2be2}
.colour11 .line{background:#ad2be2}
.colour11 .icon{background-position:0px -4.42rem}
.wst-in-adscats{height:60px}
.wst-in-goods{float: left;width: 50%;box-sizing: border-box;padding:5px;margin-bottom:0.04rem;font-size:0.14rem;background:#fff;color: #232326;    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;}
.wst-in-goods.left{border-right: 0.02rem solid #f6f6f8;}
.wst-in-goods.right{border-left: 0.02rem solid #f6f6f8;}
.wst-in-goods .img{float:left;width:1.76rem;height:1.76rem;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-in-goods .img a{width:1.76rem;height:1.76rem;display:table-cell;vertical-align:middle}
.wst-in-goods .img a img{max-width:1.76rem;max-height:1.76rem;}
.wst-in-goods .name{float:left;width:100%;height:0.33rem;margin-top:3px;line-height:0.17rem}
.wst-in-goods .info{float:left;width:100%;margin-top:0.05rem;}
.wst-in-goods .info .price{float:left;font-size:0.13rem;color:#e00102;}
.wst-in-goods .info .price span{font-size:0.166rem;}
.wst-in-goods .info2{float:left;width:100%;font-size:0.11rem;}
.wst-in-goods .info2 .price{float:left;color: #999;}
.wst-in-goods .info2 .deal{float:right;color: #999;}
.ui-header ~ .ui-container{border-top:0px solid transparent}
/*轮播*/
.ui-slider-indicators{display:block;right: 0px;text-align: center;}
.ui-slider-indicators li {display: inline-block;margin:0px 3px; width: 8px;height: 3px;-webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;box-shadow: none;background: rgba(255,255,255,0.5);}
.ui-slider-indicators li.current,.ui-slider-indicators li.current:before{background-color: #fff;}