@CHARSET "UTF-8";body{font-size:.14rem}
.order-tab{height:30px;line-height:30px;padding:0;background:#fff}
.item-head{padding:5px}
.tab-item{text-align:center}
.tab-curr{border-bottom:2px solid red}
.order-item{background:#fff;margin:10px auto}
.order-tr{text-align:right}
.o-status{color:red}
.o-Img{max-width:60px;max-height:60px;padding-top:5px}
.o-gInfo{padding:5px}
.o-gName{max-height:40px}
.o-gSpec{color:#ccc}
.border-b{padding-bottom:5px;border-bottom:1px solid #ccc}
.o-btn-box{padding-right:0}
.o-btn{float:right;margin-bottom:5px;margin-right:5px;font-size:.15rem;color:red;border:1px solid red;padding:0 9px}
.o-cancel-btn{color:inherit;border:1px solid #000}
.detail-head{border-bottom:1px solid #eaeaea;padding:10px 5px;background:#fff;margin-top:5px}
.d-uInfo{background:#fff;height:30px;margin-bottom:5px;padding:5px;font-size:.14rem;}
.d-uname{padding:3px 0;margin-left:-4px}
.d-utel{padding-left:15px}
.d-goodsitme{background:#fff;border-bottom:0;margin-bottom:5px;font-size:.13rem}
.d-item{background:#fff;border-bottom:1px solid #eaeaea;padding:5px}
.d-item-right{color:#b5b5b5}
.d-gSpec{padding-left:10px}
.price{color:red}
.title{font-size:.15rem;color:#59595c}
#detailBox{font-size:.15rem}#boxTitle{background:#fff}
.c-item{margin-top:5px;padding:10px 5px;font-size:.15rem}
.c-box{margin:0;padding:0;font-size:.15rem}
.c-title{padding:30px 5px 5px 5px;padding-top:10px;background:#fff;height:36px!important;border-bottom:1px solid #eaeaea}
.c-content{background:#fff;height:125px!important;padding:5px;}#complain{width:100%;height:120px;resize:none}
.webuploader-pick{padding:5px 6px!important;}
.complainFileBox{min-height:60px;margin-top: 15px;margin-left: 5px;}
.complainFileBox li{float:left;margin-right:5px;max-height:60px}
.complainFileBox img{max-width:50px;max-height:50px}
.edit_charts{position:relative}
.del-btn{position:relative;top:-43px;left:0}
.ui-icon,[class^="ui-icon-de"]{font-size:20px;position:absolute;left:32px;top:-1px;color:red;line-height:17px}
.uploadfile-box{background:#fff;height:100px!important;position:relative}
.ui-icon-thumb{line-height:20px}
.uploadfile-input{width:12%;height:25px;position:absolute;left:0;top:73px;z-index:-55;opacity:0}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:0;bottom:-300px;width:100%;min-height:40%;background:#f2f2f2;font-size:.15rem}
.wst-fr-box .title,.wst-cart-box .title{position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:15px;color: #222;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{background:#f2f2f2;overflow:scroll}
.complain-item{background:#fff;border-bottom:1px solid #eaeaea;padding:10px;font-size:.14rem}#content{min-height:130px}
.ui-checkbox input,.ui-checkbox-s input{height:18px}
.ui-checkbox input:before,.ui-checkbox-s input:before{left:53px;top:-13px;font-size:26px!important}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#e32726!important}
.c-btn{height: 38px;line-height: 38px;font-size: 0.15rem;color: #fff;background: #e00102;border-radius: 3px;border-bottom: 1px solid #e00102;}