@CHARSET "UTF-8";
.wst-useri_portrait{margin-top:-10px;width:65px;border-radius:1000px}
.wst-useri_line{border-bottom:1px solid #ededed}
.uploadfile-input{width:35%;height:90px;position:absolute;right:0;top:0;opacity:0;z-index:100}
.wst-useri_determine{position:relative;font-size:16px;height:44px;line-height:44px;padding-right:26px;padding-left:15px;font-size:.18rem;padding-top:7px;padding-bottom:7px;margin-top:6px}
.wst-useri_determine input{float:left;width:100%;height:40px;border:1px solid #ccc;border-radius:6px;padding-left:8px;font-size:.15rem}
.wst-listse li{border-bottom:1px solid #ededed}
.wst-list-infose1{width:90%;padding-top:12px;padding-bottom:12px;}
.wst-list-infose1 span{float:left;width:100%;font-size:.15rem}
.wst-list-infose2{float:right;width:32px;margin-top:-45px}
.wst-icon-checked-s_se{color:#de0301}
.wst-fav_search{height:30px;width:62%;float:left;background:#FFF;border:1px solid #ccc;border-radius:15px;-webkit-box-sizing:border-box;-webkit-box-pack:center;margin-left:50px;margin-top:8px}
.wst-fav_search span{width:25px;float:left;margin-top:-7px}
.wst-fav_search input{float:left;width:80%;margin-top:6px;border:0}
.wst-fav_searchs{font-size:.17rem;margin-right:8px;line-height:45px;float:right;color:#FFF}
.wst-fav_list{margin-top:5px;border-bottom:1px solid #ddd}
.wst-fav_listl{width:85px;margin:0 auto}
.wst-fav_listl img{width:85px;height:85px}
.wst-fav_listr button{float:right;color:#504f4f;width:74px;background:#e6e6e6}
.wst-fav_listr1{margin-top:8px;font-size:.16rem}
.wst-fav_listr2{height:30px;color:#ef641f;font-size:.2rem;margin-bottom:3px}
.wst-fav_listr2 span{float:right;width:30px;height:30px}
.wst-fav_listr2 img{width:30px;height:30px}
.wst-fav_listr button:not(.disabled):not(:disabled):active,.wst-fav_listr button.active{background:#b7ada9;border-color:#e6e6e6;color:#504f4f;background-clip:padding-box}
.wst-ed-info li,.wst-ed-info li h4{font-size:.15rem;}
.wst-ed-button{height: 38px;line-height: 38px;font-size: 0.15rem;color: #fff;background: #e00102;border-radius: 3px;border-bottom: 1px solid #e00102;}