<ul class="ui-list ui-list-text ui-list-link ui-list-active wst-se-mode">
	<li class="mode" onclick="javascript:_dataShow('coupon_{$shopId}');">
        <h4 class="ui-nowrap">店铺优惠</h4>
        <div class="ui-txt-info" id="coupon_{$shopId}t">不使用优惠</div>
    </li>
</ul>

{/* 优惠券 */}
<input type="hidden" id="couponId_{$shopId}" value="0" />
<div class="wst-fr-box" id="coupon_{$shopId}" style="z-index: 10000;">
	<div class="title"><span>优惠券</span><i class="ui-icon-close-page" onclick="javascript:_dataHide('coupon_{$shopId}');"></i><div class="wst-clear"></div></div>
	<div class="content" id="content">
			{volist name="$coupons" id="cs"}
			<ul class="ui-list" onclick="javascript:onSwitch(this);">
				<li><div class="wst-list-infose1"><span>{$cs.couponValue}元优惠券</span></div></li>
				<i class="ui-icon-push ui-icon-unchecked-s" mode="{$cs.couponId}" word="{$cs.couponValue}元优惠券"></i>
			</ul>
			<div class="wst-se-line"><p></p></div>
			{/volist}
         <ul class="ui-list" onclick="javascript:onSwitch(this);">
             <li><div class="wst-list-infose1"><span>不使用优惠</span></div></li>
             <i class="ui-icon-push ui-icon-checked-s wst-active" mode="0" word="不使用优惠"></i>
         </ul>
	</div>
	<button class="button" onclick="javascript:_inDetermine('coupon_{$shopId}');">确定</button>
</div>

<script>

var coupon_{$shopId} = $("#coupon_{$shopId}").css('height');
	coupon_{$shopId} = parseInt(coupon_{$shopId})+50+'px';
	$("#coupon_{$shopId}").css('bottom','-'+coupon_{$shopId});
//弹框
function _dataShow(n){
	jQuery('#cover').attr("onclick","javascript:_dataHide('"+n+"');").show();
	jQuery('#'+n).animate({"bottom": 0}, 500);
	//显示已保存的数据
	var type = $('#'+n+'h').val();
	if(type==0){
		jQuery('i[class*="'+n+'"]').removeClass('ui-icon-checked-s wst-active').addClass('ui-icon-unchecked-s');
		jQuery('.'+n+'0').removeClass('ui-icon-unchecked-s').addClass('ui-icon-checked-s wst-active');
	}else{
		jQuery('i[class*="'+n+'"]').removeClass('ui-icon-checked-s wst-active').addClass('ui-icon-unchecked-s');
		jQuery('.'+n+'1').removeClass('ui-icon-unchecked-s').addClass('ui-icon-checked-s wst-active');
	}
}
function _dataHide(n){
	jQuery('#'+n).animate({'bottom': '-'+window[n]}, 500);
	jQuery('#cover').hide();
}

function _inDetermine(n){
	var type,word;
	$('#'+n+' .wst-active').each(function(){
		type = $(this).attr('mode');
		word = $(this).attr('word');
	});
	var shopId = n.split('_')[1];
	$('#couponId_'+shopId).val(type);// 设置选中的优惠券
	$('#'+n+'t').html(word);
	getCartMoney();
	_dataHide(n);

	$('[id^="shopcp_"').parent().remove();
	// 显示优惠券优惠价格
	if(type>0){
		$('#shopF_'+shopId).parent().before('<div>优惠券优惠：<span id="shopcp_'+shopId+'">-￥'+parseInt(word)+'</span></div>')
	}else{
		$('#shopcp_'+shopId).parent().remove();
	}

	
}
</script>